.gpt3__posibility {
    width: 100%;
    display: flex;
}

.gpt3__posibility__image {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.gpt3__posibility__image img {
    width: 100%;
    height: 100%;
}

.gpt3__posibility__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.gpt3__posibility__content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin: 12px 0;
}

.gpt3__posibility__content h4:first-child {
    color: #71E5FF;   
}

.gpt3__posibility__content h4:last-child {
    color: #FF8A71;   
}

.gpt3__posibility__content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 20px 0;
}

.gpt3__posibility__content p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin: 10px 0;
}

@media screen and (max-width : 1050px) {
    .gpt3__posibility {
        flex-direction: column;
    }

    .gpt3__posibility__image {
        margin: 1rem;
    }

}

@media screen and (max-width : 550px) {
    .gpt3__posibility__content h1 {
        margin: 10px;
    }
}